In [2]:
#!pip install fredapi

Requirement already satisfied: fredapi in c:\users\swang\appdata\local\continuum\anaconda3\lib\site-packages (0.4.2)
Requirement already satisfied: pandas in c:\users\swang\appdata\local\continuum\anaconda3\lib\site-packages (from fredapi) (0.22.0)
Requirement already satisfied: python-dateutil>=2 in c:\users\swang\appdata\local\continuum\anaconda3\lib\site-packages (from pandas->fredapi) (2.6.1)
Requirement already satisfied: pytz>=2011k in c:\users\swang\appdata\local\continuum\anaconda3\lib\site-packages (from pandas->fredapi) (2017.3)
Requirement already satisfied: numpy>=1.9.0 in c:\users\swang\appdata\local\continuum\anaconda3\lib\site-packages (from pandas->fredapi) (1.14.0)
Requirement already satisfied: six>=1.5 in c:\users\swang\appdata\local\continuum\anaconda3\lib\site-packages (from python-dateutil>=2->pandas->fredapi) (1.11.0)

You are using pip version 18.1, however version 19.2.3 is available.
You should consider upgrading via the 'python -m pip install --upgrade pip' command.

In [54]:
import pandas as pd
import numpy as np
import qrbook_funcs as qf
import datetime
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

## (1) Use data up to 2017-12-29

In [157]:
# Set last day of the data
lastday2017='2017-12-29'

In [158]:
lastday2017

'2017-12-29'

In [159]:
# Fetch data for Swiss franc, pound sterling, Japanese Yen, up to 2017 Dec 29
seriesnames=['DEXSZUS','DEXUSUK','DEXJPUS']
cdates,ratematrix=qf.GetFREDMatrix(seriesnames,enddate=lastday2017)

In [160]:
data2017 = pd.DataFrame(ratematrix, index =cdates, columns = seriesnames)

In [161]:
data2017 = data2017.set_index(pd.DatetimeIndex(data2017.index))

In [162]:
data2017_clean=data2017.dropna()

In [163]:
len(data2017_clean)

11788

In [164]:
## Use this method to subset dataset
# data2017.loc['2017-12-2':'2017-12-29']
## Use this to index any rows
# data2017.loc['1971-01-04']>0

In [165]:
data2017_clean.head()

            DEXSZUS  DEXUSUK  DEXJPUS
1971-01-04   4.3180   2.3938   357.73
1971-01-05   4.3117   2.3949   357.81
1971-01-06   4.3113   2.3967   357.86
1971-01-07   4.3103   2.3963   357.87
1971-01-08   4.3109   2.3972   357.82

In [166]:
# check if there is any row that has negative value in data2017_clean
for each in seriesnames:
    print(len(data2017_clean[data2017_clean[each] < 0]))

0
0
0

In [167]:
data2017_clean['DEXSZUS']=data2017_clean['DEXSZUS'].apply(lambda x: 1/x)
data2017_clean['DEXJPUS']=data2017_clean['DEXJPUS'].apply(lambda x: 1/x)

C:\Users\swang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
C:\Users\swang\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [170]:
# check
data2017_clean.head()

             DEXSZUS  DEXUSUK   DEXJPUS
1971-01-04  0.231589   2.3938  0.002795
1971-01-05  0.231927   2.3949  0.002795
1971-01-06  0.231949   2.3967  0.002794
1971-01-07  0.232002   2.3963  0.002794
1971-01-08  0.231970   2.3972  0.002795

In [171]:
# compute log to all the values in the dataset
data2017_new1=data2017_clean.apply(lambda x: np.log(x))
data2017_new1.head()

             DEXSZUS   DEXUSUK   DEXJPUS
1971-01-04 -1.462792  0.872882 -5.879779
1971-01-05 -1.461332  0.873341 -5.880002
1971-01-06 -1.461239  0.874093 -5.880142
1971-01-07 -1.461008  0.873926 -5.880170
1971-01-08 -1.461147  0.874301 -5.880030

In [186]:
# compute the first difference and drop NA
data2017_final=data2017_new1.diff()
data2017_final.dropna(inplace=True)
data2017_final.tail(20)

             DEXSZUS   DEXUSUK   DEXJPUS
2017-12-01  0.007755 -0.000074  0.003747
2017-12-04 -0.009786 -0.002966 -0.008189
2017-12-05 -0.001014 -0.001115  0.000355
2017-12-06 -0.003642 -0.005069  0.003910
2017-12-07 -0.001715  0.003729 -0.003377
2017-12-08 -0.000705 -0.004851 -0.007514
2017-12-11  0.002824 -0.000299  0.001851
2017-12-12 -0.002623 -0.002998 -0.002467
2017-12-13  0.003229  0.003147  0.003792
2017-12-14 -0.000606  0.005596  0.005581
2017-12-15 -0.000303 -0.009269 -0.001066
2017-12-18  0.004757  0.006139  0.002488
2017-12-19 -0.000101 -0.003140 -0.005147
2017-12-20 -0.000203  0.003886 -0.002740
2017-12-21 -0.003139 -0.002689 -0.001147
2017-12-22 -0.000809  0.000523  0.001059
2017-12-26  0.000707 -0.000748  0.000883
2017-12-27  0.002125  0.002540 -0.000706
2017-12-28  0.009774  0.003501  0.003803
2017-12-29  0.003690  0.005856  0.001419

In [231]:
# check length
len(data2017_final)

11787

In [232]:
#Mean vector and covariance matrix are inputs to efficient frontier calculations
d=np.array(data2017_final[seriesnames])
m=np.mean(d,axis=0)
c=np.cov(d.T)

In [233]:
#display the output
#vectors and matrices are in fractional units;
#    fraction*100=percent
#    fraction*10000=basis point
#    (fraction^2)*10000=percent^2
np.set_printoptions(precision=4)
print("Means:",m*10000,"bps/day")
print("(CHF, GBP, JPY)\n")
print("  ",c[0]*10000)
print("C=",c[1]*10000,"    (4.20)")
print("  ",c[2]*10000)
print(f'(%/day)\N{SUPERSCRIPT TWO} units')
print("  ")
print("From",data2017_final.index[0],"to",data2017_final.index[-1],"(",len(data2017_final),"observations)")

Means: [ 1.2635 -0.4841  0.98  ] bps/day
(CHF, GBP, JPY)

   [0.5278 0.253  0.2247]
C= [0.253  0.3594 0.1191]     (4.20)
   [0.2247 0.1191 0.4209]
(%/day)² units

From 1971-01-05 00:00:00 to 2017-12-29 00:00:00 ( 11787 observations)

In [234]:
# compute inverse of C
ci=np.linalg.inv(c)
print("          ",ci[0]/10000)
#Jupyter doesn't like this superscript
#print(f'C\N{SUPERSCRIPT MINUS}\N{SUPERSCRIPT ONE}=',ci[1]/10000,"    (4.21)")
print(f'C-inverse=',ci[1]/10000,"    (4.21)")
print("          ",ci[2]/10000)
print(f'(days/%)\N{SUPERSCRIPT TWO} units')

           [ 3.3591 -1.9539 -1.2402]
C-inverse= [-1.9539  4.2071 -0.1474]     (4.21)
           [-1.2402 -0.1474  3.0796]
(days/%)² units

In [235]:
#sum entries in ci
uciu=np.sum(ci)
#print(f'u\'C\N{SUPERSCRIPT MINUS}\N{SUPERSCRIPT ONE}u =',uciu/10000, f'(days/%)\N{SUPERSCRIPT TWO}')
print(f'u\'(C-inverse)u =',uciu/10000, f'(days/%)\N{SUPERSCRIPT TWO}')

ucim=np.sum(np.matmul(ci,m))
print(f'u\'(C-inverse)m =',ucim, 'days')
mcim=np.matmul(m,np.matmul(ci,m))
print(f'm\'(C-inverse)m =',mcim*10000,'bps')

u'(C-inverse)u = 3.9626538250355283 (days/%)²
u'(C-inverse)m = 0.8471614302272523 days
m'(C-inverse)m = 8.765622671007106 bps

In [236]:
# compute the weight for the minimum variance portfolio
u_vec=[1]*3
w_optimal=(np.matmul(ci,u_vec))/uciu

# compute the minimum variance
variance_minimize=1/uciu

In [237]:
# Below is the optimal weight and variance of the portfolio
w_optimal, variance_minimize

(array([0.0416, 0.5314, 0.427 ]), 2.523561340842167e-05)

In [238]:
# mean
m

array([ 1.2635e-04, -4.8412e-05,  9.8001e-05])

In [206]:
np.sqrt(variance_minimize)

0.005023506087228488

### (2) Use only 2018 data

In [239]:
cdates2018, ratematrix2018 = qf.GetFREDMatrix(seriesnames, startdate='2018-01-01', enddate='2018-12-31')

nobs, t = len(cdates2018), 0
while t < nobs:
    if all(np.isnan(ratematrix2018[t])):
        del ratematrix2018[t]
        del cdates2018[t]
        nobs -= 1
    else:
        t += 1

In [240]:
data2018 = pd.DataFrame(ratematrix2018, index =cdates2018, columns = seriesnames)
data2018 = data2018.set_index(pd.DatetimeIndex(data2018.index))

In [241]:
data2018['DEXSZUS']=data2018['DEXSZUS'].apply(lambda x: 1/x)
data2018['DEXJPUS']=data2018['DEXJPUS'].apply(lambda x: 1/x)

In [242]:
# check
data2018.head()

             DEXSZUS  DEXUSUK   DEXJPUS
2018-01-02  1.029018   1.3596  0.008914
2018-01-03  1.024380   1.3522  0.008906
2018-01-04  1.025326   1.3539  0.008867
2018-01-05  1.025431   1.3562  0.008835
2018-01-08  1.024380   1.3566  0.008843

In [243]:
# compute log to all the values in the dataset
data2018=data2018.apply(lambda x: np.log(x))
data2018.head()

             DEXSZUS   DEXUSUK   DEXJPUS
2018-01-02  0.028605  0.307191 -4.720105
2018-01-03  0.024088  0.301733 -4.720996
2018-01-04  0.025010  0.302989 -4.725439
2018-01-05  0.025113  0.304687 -4.728979
2018-01-08  0.024088  0.304982 -4.728096

In [244]:
# compute the first difference and drop NA
data2018_final=data2018.diff()
data2018_final.dropna(inplace=True)
data2018_final.head()

             DEXSZUS   DEXUSUK   DEXJPUS
2018-01-03 -0.004517 -0.005458 -0.000891
2018-01-04  0.000922  0.001256 -0.004443
2018-01-05  0.000103  0.001697 -0.003540
2018-01-08 -0.001025  0.000295  0.000884
2018-01-09 -0.007145 -0.003545  0.004520

In [245]:
# check length
len(data2018_final)

248

In [246]:
#Mean vector and covariance matrix are inputs to efficient frontier calculations
d2018=np.array(data2018_final[seriesnames])
m2018=np.mean(d2018,axis=0)
c2018=np.cov(d2018.T)

In [247]:
#display the output
#vectors and matrices are in fractional units;
#    fraction*100=percent
#    fraction*10000=basis point
#    (fraction^2)*10000=percent^2
np.set_printoptions(precision=4)
print("Means:",m*10000,"bps/day")
print("(CHF, GBP, JPY)\n")
print("  ",c2018[0]*10000)
print("C=",c2018[1]*10000,"    (4.20)")
print("  ",c2018[2]*10000)
print(f'(%/day)\N{SUPERSCRIPT TWO} units')
print("  ")
print("From",data2018_final.index[0],"to",data2018_final.index[-1],"(",len(data2018_final),"observations)")

Means: [ 1.2635 -0.4841  0.98  ] bps/day
(CHF, GBP, JPY)

   [0.1338 0.0892 0.0688]
C= [0.0892 0.2402 0.0361]     (4.20)
   [0.0688 0.0361 0.1579]
(%/day)² units

From 2018-01-03 00:00:00 to 2018-12-31 00:00:00 ( 248 observations)

In [248]:
# compute inverse of C
ci2018=np.linalg.inv(c2018)
print("          ",ci2018[0]/10000)
#Jupyter doesn't like this superscript
#print(f'C\N{SUPERSCRIPT MINUS}\N{SUPERSCRIPT ONE}=',ci[1]/10000,"    (4.21)")
print(f'C-inverse=',ci2018[1]/10000,"    (4.21)")
print("          ",ci2018[2]/10000)
print(f'(days/%)\N{SUPERSCRIPT TWO} units')

           [12.4156 -3.9317 -4.5111]
C-inverse= [-3.9317  5.5573  0.4416]     (4.21)
           [-4.5111  0.4416  8.1974]
(days/%)² units

In [249]:
#sum entries in ci
uciu2018=np.sum(ci2018)
#print(f'u\'C\N{SUPERSCRIPT MINUS}\N{SUPERSCRIPT ONE}u =',uciu/10000, f'(days/%)\N{SUPERSCRIPT TWO}')
print(f'u\'(C-inverse)u =',uciu2018/10000, f'(days/%)\N{SUPERSCRIPT TWO}')

ucim2018=np.sum(np.matmul(ci2018,m))
print(f'u\'(C-inverse)m =',ucim2018, 'days')
mcim2018=np.matmul(m,np.matmul(ci,m))
print(f'm\'(C-inverse)m =',mcim*10000,'bps')

u'(C-inverse)u = 10.168178978599139 (days/%)²
u'(C-inverse)m = 8.06454635985747 days
m'(C-inverse)m = 8.765622671007106 bps

In [250]:
# compute the weight for the minimum variance portfolio
u_vec2018=[1]*3
w_optimal2018=(np.matmul(ci2018,u_vec2018))/uciu2018

# compute the minimum variance
variance_minimize2018=1/uciu2018

In [251]:
# Below is the optimal weight and variance of the portfolio
w_optimal2018, variance_minimize2018

(array([0.3907, 0.2033, 0.406 ]), 9.834602657021378e-06)

In [254]:
m2018

array([-4.7026e-05, -2.5494e-04,  9.0143e-05])

In [253]:
np.sqrt(variance_minimize2018)

0.003136017005218782

Answer:

Portfolio1 - 1971-01-05 to 2017-12-29: optimal weight and variance is (array([0.0416, 0.5314, 0.427 ]), 2.523561340842167e-05), 
mean is: array([ 1.2635e-04, -4.8412e-05,  9.8001e-05])


Portfolio2 - 2018-01-01 to 2018-12-31: optimal weight and variance is: (array([0.3907, 0.2033, 0.406 ]), 9.834602657021356e-06), mean is: array([-4.7026e-05, -2.5494e-04,  9.0143e-05])

Portfolio1 has used significantly more data points than Portfolio2, so we can see that the minimized variance is larger than Portfolio2 which only covers data in 2018. Also, the weight is different too. Portfolio2 has weighted significantly more on CHF while less weight on GBP compared to Portfolio1.